@model EntityLayer.Concrete.Communication





@using (Html.BeginForm("Index", "VitrinPanel", FormMethod.Post))
{
    <div class="form-group">
        <h2 style="color: #bd5d38">İletişim Sayfası</h2>
        <br/>

        @Html.Label("Ad-Soyad")
        @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
        <br />
        @Html.Label("Mail")
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        <br />
        @Html.Label("Konu")
        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
        <br />
        @Html.Label("Mesaj")
        @Html.TextBoxFor(x => x.Message, new { @class = "form-control" })
        <br />



        <button class="btn btn-info">Gönder</button>
    </div>
}

